.admin-header {
  height: 64px;
  background: #333;
  color: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-header input {
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}
.admin-header input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #555;
}
