/* Header */
.admin-header {
  height: 64px;
  background: #3a3a3a;
  color: #fff;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left side */
.admin-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Title */
.admin-header h3 {
  margin: 0;
  font-size: 18px;
}

/* Menu button */
.menu-btn {
  display: none;
  font-size: 18px;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* Search */
.admin-header input {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

/* ================= MOBILE ================= */
@media (max-width: 600px) {

  .menu-btn {
    display: block; /* only mobile */
  }

  .admin-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: auto;
    padding: 12px;
  }

  .admin-header input {
    width: 100%;
  }

}