:root{
    --primary-button-bg: #949494;
    --primary-text-color: #ffffff;
}
.search-button{
    padding: 10px 80px;
    background-color: var(--primary-button-bg);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* font-size: 16px; */
}