:root {
    --primary-Browsecategory-section-bg: #FAFAFA;
    --primary-viewall-color:#555;
    --primary-cardtitle-color:#fff;
    --primary-arrow-numbering-bg-color:#BCBCBC;
    --primary-arrow-numbering-border-color:#CACACA;
}
.Browsecategory-section {
    width: 100%;
    padding: 20px 70px;
    background-color: var(--primary-Browsecategory-section-bg);
    /* max-width: 1300px; */

}
/* .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.top-section .heading {
    font-size: 16px;
    font-weight: 600;
}
.top-section .view-all {
    font-size: 14px;
    font-weight: 500;
    color:var(--primary-viewall-color);
    cursor: pointer;
    text-decoration: underline;
} */
.Bottom-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.cards{
    width: 220px;
    height: 140px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backdrop-filter: blur(90px);
}
.card-title{
    position: absolute;
    bottom: 5px;
    left: 25px;
    color: var(--primary-cardtitle-color);
    font-size: 14px;
    font-weight: 500;
}
.counting{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.arrow{
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--primary-arrow-numbering-bg-color);
    border: 1px solid var(--primary-arrow-numbering-border-color);
}
.numbering{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-arrow-numbering-bg-color);
    border: 1px solid var(--primary-arrow-numbering-border-color) ;
    padding: 0px 5px 0px 5px ;
}