.company-intro {
    background: #F4F4F4;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.company-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 14px;
    color: #000;
}

.company-text {
    font-size: 20px;
    line-height: 1.6;
    color: #000;
}

.highlight {
    font-weight: 600;
}