:root{
    --primary-bg-color:#F4F4F4;
    --primary-color:#000;

}
.company-intro {
    background:var(--primary-bg-color);
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.company-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 14px;
    color: var(--primary-color);
}

.company-text {
    font-size: 20px;
    line-height: 1.6;
    color: var(--primary-color);
}

.highlight {
    font-weight: 600;
}