:root{
    --primary-white-color:#fff;
    --primary-black-color:#000;
    --primary-border-color:#dcdcdc;
    --primary-bg-color:#e40606;
}

.contact-wrapper {
    width: 100%;
    padding: 40px 0;
    background: var(--primary-white-color);
}

.contact-wrapper .container {
    display: flex;
    gap: 40px;
}

/* Left Form */
.contact-form {
    width: 50%;
}

.contact-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--primary-border-color);
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 13px;
}

.contact-form textarea {
    height: 140px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    /* background: var(--primary-bg-color); */
    color: var(--primary-black-color);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

/* Right Info */
.contact-info {
    width: 50%;
    line-height: 1.5;
}

.info-block {
    margin-bottom: 22px;
}

.info-block h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.info-block p {
    font-size: 13px;
    line-height: 1.6;
}

.info-block a {
    color: var(--primary-black-color);
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-wrapper .container {
        flex-direction: column;
    }

    .contact-form,
    .contact-info {
        width: 100%;
    }
}