:root {
    --primary-dummysection-bg-color: #f7f7f7;
    --primary-maincards-bg-color: #fff;
    --primary-leftdummy-bg-color: #eaeaea;
    --primary-h4-color: #111;
    --primary-p-color: #555;
    --primary-btn-color: #cfcfcf;
}


.dummy-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: var(--primary-dummysection-bg-color);
}

.main-cards {
    /* width: 1000px; */
    max-width: 1300px;
    background-color: var(--primary-maincards-bg-color);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px;
    border-radius: 10px;
}

/* LEFT IMAGE */
.left-dummy img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--primary-leftdummy-bg-color);
}

/* RIGHT CONTENT */
.right-dummy {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.right-details h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
    color: var(--primary-h4-color);
}

.right-details p {
    font-size: 14px;
    line-height: 1.6;
    color: var(--primary-p-color);
    max-width: 420px;
    margin: 0;
}

.right-dummy button {
    padding: 10px 28px;
    background-color:var(--primary-btn-color);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
}