:root{
  --primary-bg-color:#ffffff;
  --black-color:#000;
  --border-color:#dcdcdc;
}


.about-wrapper {
  width: 100%;
  background: var(--primary-bg-color);
  padding: 40px 0px;
}
/* Top layout */
.about-content {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;
}

/* Left text */
.about-text {
  flex: 1;
}

.about-text h3 {
  font-size: 16px;
  margin-bottom: 12px;
}

.about-text p {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 12px;
  color:var(--black-color);
}

/* Right image */
.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: auto;
  border: 1px solid var(--border-color);
}

/* Stats row */
.about-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stat h2 {
  font-size: 24px;
  font-weight: 600;
}

.stat p {
  font-size: 13px;
  margin-top: 6px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-stats {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .stat {
    width: 50%;
  }
}