:root {
  --primary-golden-color: #d4af37;
  --primary-black-color: #000000;
}

.footer {
  width: 100%;
  background: var(--primary-black-color);
  padding: 60px 0 20px;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid var(--primary-golden-color);
  color: var(--primary-golden-color);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 180px;
}

.footer-logo {
  width: 150px;      /* control size */
  height: auto;
  display: block;    /* inline gap remove */
  margin-bottom: 16px;
}

.footer-title {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer-col h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 14px;
  color: var(--primary-golden-color);
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #eacd6d;
}

.social-icons {
  display: flex;
  gap: 12px;
  font-size: 18px;
}

.social-icons i {
  cursor: pointer;
}

.newsletter-text {
  font-size: 14px;
  color: var(--primary-golden-color);
  margin-bottom: 12px;
}

.chat-btn {
  padding: 8px 18px;
  border: 1px solid var(--primary-golden-color);
  background: linear-gradient(135deg, #d4af37, #f5d76e, #b8962e);
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: var(--primary-black-color);
}


.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: var(--primary-golden-color);
}

.footer-bottom span {
  color: var(--primary-golden-color);
  font-weight: 500;
}