:root {
  --primary-black: #000000;
  /* --primary-bg-color: linear-gradient(135deg, #d4af37, #f5d76e, #b8962e); */
  --primary-hover: #ffffff;
  --primary-background:linear-gradient(135deg, #d4af37, #f5d76e, #b8962e);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.left img {
  height: 50px;
  width: auto;
  object-fit: contain;
  display: block;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--primary-black);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .right {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: var(--primary-bg-color);
    display: none;
  }

  .right.show {
    display: block;
    z-index: 1000;
    background: var(--primary-background);
  }

  .right ul {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
}

.header {
  width: 100%;
  background: var(--primary-background);
  color: var(--primary-black);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.left{
  display: flex;
  align-items: center;
}

.left p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-black);
}

.right ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  /* padding: 0; */
}

.right ul li a {
  text-decoration: none;
  color: var(--primary-black);
  position: relative;
  font-size: 14px;
}

.right ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--primary-black);
  transition: width 0.35s ease, box-shadow 0.35s ease;
}

.right ul li a.active::after {
  width: 100%;
}

