:root {
  --primary-white: #ffffff;
  --primary-gray: #333;
  --primary-hover: #92aecb;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--primary-white);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .right {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: var(--primary-gray);
    display: none;
  }

  .right.show {
    display: block;
    z-index: 1000;
  }

  .right ul {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }
}

.header {
  width: 100%;
  background-color: var(--primary-gray);
  color: var(--primary-white);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;              
}
.left p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-white);
}
.right ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  /* padding: 0; */
}
.right ul li a {
  text-decoration: none;
  color: var(--primary-white);
  position: relative;
  font-size: 14px;
}
.right ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--primary-hover);
  transition: width 0.3s ease-in-out;
}
.right ul li a.active{
    color: skyblue;
}
.right ul li a:hover::after {
  width: 100%;
}
