.Mediasection {
    width: 100%;
    padding: 20px 70px;
}
.media-card-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.info-card {
    width: 240px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
}

/* Image section */
.info-image {
    height: 140px;
    background-color: #a9a9a9;
}

/* IMAGE FULL FIT */
.info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* important */
    display: block;
}

/* Content section */
.info-content {
    padding: 14px;
    background-color: #cfcfcf;
}

.info-content h4 {
    margin: 0 0 6px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.info-content p {
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    line-height: 1.4;
}

.read-more {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    font-style: italic;
}