.sidebar {
    width: 240px;
    background: #fff;
    min-height: 100vh;
    padding: 20px;
    border: 2px solid black;
}

.logo {
    margin-bottom: 30px;
}

.menu li {
    list-style: none;
    padding: 12px;
    color: black;
    cursor: pointer;
}

.menu li a {
    list-style: none;
    text-decoration: none;
}

.upgrade {
    margin-top: 30px;
    background: #5932ea;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
}