:root{
       --primary-viewall-color:#555;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 70px;
}
.top-section .heading {
    font-size: 16px;
    font-weight: 600;
}
.top-section .view-all {
    font-size: 14px;
    font-weight: 500;
    color:var(--primary-viewall-color);
    cursor: pointer;
    text-decoration: underline;
}