.Trending-Designerssection{
    /* padding: 20px 70px; */
    max-width: 1300px;
    margin: auto;
}

.video-photosection{
    /* padding: 20px 70px; */
    max-width: 1300px;
    margin: auto;
}

.Popular-section{
    /* padding: 20px 70px; */
    max-width: 1300px;
    margin: auto;
}

.wedding-section {
    /* padding: 20px 70px; */
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.venue-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

/* Card */
.venue-card {
    width: 100%;
    max-width: 360px;
    /* desktop card width */
    height: auto;
    /* allow content to grow */

    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 12px;
    background: #fff;
}

/* Image box */
.venue-image {
    position: relative;
    height: 160px;
    margin-bottom: 10px;
}

.venue-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.explore-btn {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 11px;
    color: #000;
}

/* Text */
.venue-title {
    font-size: 13px;
    margin: 4px 0;
}

.venue-rating {
    font-size: 13px;
}

.venue-rating span {
    color: gray;
}

.venue-guests {
    font-size: 12px;
    color: gray;
}