.Header-Container{
    width: 100%;
    background-color: white;
    color: black;
}

.mini-header{
    max-width: 1380px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.mini-header .left-header{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    width: 4rem;
    height: 4rem;   
    object-fit: contain;
}
.right-header{
    width: 50%;
}