.hero-container {
  max-width: 100%;
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(135deg, #dff3ff 0%, #c4d0ff 40%, #d7b3ff 100%);
  /* min-height: 90vh; */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #1a1a1a;
  line-height: 1.2;
}

.hero-content h1 span {
  background: linear-gradient(90deg, #136ff5, #a63ff5);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-content p {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #333;
}

.hero-btn {
  margin-top: 30px;
  padding: 12px 28px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #3c9aff, #934bfd);
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.hero-btn:hover {
  transform: scale(1.05);
}

.hero-steps {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.step-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.step-box img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.step-box p {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.arrow {
  font-size: 2rem;
  color: #777;
}
