:root {
    --clay-dark: #99816e59;
    --clay-light: #ffffffd9;
    --bg-color: #efeaf9;
    --btn-bg: #ad98d5;
}

.Bookingsection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 16px;
}

.top-section-titles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    width: 100%;
}

.booking-top-components {
    width: 100%;
    max-width: 800px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    box-shadow: 8px 8px 20px var(--clay-dark), -8px -8px 20px var(--clay-light);
    background-color: var(--bg-color);
    border-radius: 32px;
}

.first-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.first-left h3 {
    margin-top: 4px;
}

.right-side-components {
    display: flex;
    gap: 8px;
}

.right-side-components .timmer {
    display: flex;
    justify-content: center;
    padding: 6px;
    box-shadow: inset 3px 3px 6px var(--clay-dark), inset -3px -3px 6px var(--clay-light);
    border-radius: 999px;
    height: max-content;
}

.rupee {
    padding: 6px 12px;
    height: max-content;
    box-shadow: inset 3px 3px 6px var(--clay-dark), inset -3px -3px 6px var(--clay-light);
    border-radius: 999px;
}

.date-picker-container {
    max-width: 800px;
    width: 100%;
    padding: 24px;
    background-color: var(--bg-color);
    box-shadow: 8px 8px 20px var(--clay-dark), -8px -8px 20px var(--clay-light);
    border-radius: 32px;
}

.top-calendertitle {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 5px;
}

.Available-time-section {
    width: 100%;
    max-width: 800px;
    padding: 24px;
    background-color: var(--bg-color);
    box-shadow: 8px 8px 20px var(--clay-dark), -8px -8px 20px var(--clay-light);
    border-radius: 32px;
}

.Available-time-section h3 {
    margin-bottom: 16px;
}

.time-stamp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.Continuebutton {
    padding: 16px 28px;
    background-color: var(--btn-bg);
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #141327;
    font-weight: 600;
    border-radius: 22px;
}

.Continue-buttonsection {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: end;
}