:root {
    --clay-dark: #99816e59;
    --clay-light: #ffffffd9;
}

.searchbar-container {
    width: 100%;
    padding: 16px 24px;
}

.search-long-bar {
    width: 100%;
    display: flex;
    padding: 12px 20px;
    gap: 5px;
    box-shadow: inset 5px 5px 10px var(--clay-dark), inset -5px -5px 10px var(--clay-light);
    border-radius: 999px;
}
.search-long-bar input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}