@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body {
  margin: 0;
    font-family: "Space Grotesk", sans-serif;

}

#root {
  width: 100%;
  min-height: 100vh;

}
.container{
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1200px;
}