.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 25px;
  border-radius: 8px;
  width: fit-content;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #ABB2BF;
  border-radius: 50%;
}