.Experience-section{
    padding: 5rem 1rem 2rem 1rem;
    margin: auto;
    max-width: 1380px;
}
.Conatact-heading{
    font-size: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 8px;
}
