.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  width: 100%;
  margin: 0 auto 0;
  max-width: 1380px;
  padding: 13.5rem 1rem 13.5rem 1rem;
  background-color: #282c33;
  color: #fff;
  font-family: "Fira Code", monospace;
  flex-wrap: wrap;
}

.hero-left {
  flex: 3;
}

.hero-left h1 {
  font-size: 2rem;
  line-height: 1.3;
  text-align: left;
}

.hero-left .purple {
  color: #C778DD;
  font-weight: bold;
}

.hero-subtext {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.hero-btn {
  margin-top: 1.5rem;
  background: transparent;
  border: 1px solid #C778DD;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.status {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  background-color: #1f2227;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  gap: 0.5rem;
  width: fit-content;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #C778DD;
  display: inline-block;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}

.hero-right img {
  max-width: 500px;
  border-radius: 4px;
  /* filter: drop-shadow(0px 0px 10px black); */
}

@media (max-width: 992px) {
  .hero {
    /* Change to a vertical layout */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
    /* Add space between the text and image sections */
    padding: 3rem 1.5rem;
    /* width: 100%; */
  }

  .hero-left,
  .hero-right {
    /* Allow both sections to take full width and remove flex ratio */
    flex: 1 1 100%;
    align-items: center;
    /* Center content inside */
  }

  .hero-right img {
    width: 90%;
  }

  .status {
    margin-right: auto;
  }
}

/* For smaller mobile phones */
@media (max-width: 480px) {
  .hero-left h1 {
    font-size: 1.8rem;
    /* Slightly smaller font size for very small screens */
  }

  .hero-btn {
    display: none;
  }

  .hero {
    padding: 5rem 1rem 3rem 1rem;
    width: 100%;
  }
}