.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  max-width: 1380px;
  padding: 5rem 1rem;
  background-color: #282c33; 
  color: #fff;
   font-family: "Fira Code", monospace;
  flex-wrap: wrap;
}

.hero-left {
  flex: 3;
}

.hero-left h1 {
  font-size: 2rem;
  line-height: 1.3;
}
.hero-left .purple {
  color: #a78bfa; 
  font-weight: bold;
}
.hero-subtext {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}
.hero-btn {
  margin-top: 1.5rem;
  background: transparent;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}
.hero-btn:hover {
  background: #a78bfa;
  border-color: #a78bfa;
}
.status {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  background-color: #1f2227;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  gap: 0.5rem;
  width: fit-content;
}
.status-dot {
  width: 10px;
  height: 10px;
  background-color: #a78bfa;
  display: inline-block;
}
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}

.hero-right img {
  max-width: 500px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .hero {
    /* Change to a vertical layout */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2.5rem; /* Add space between the text and image sections */
    padding: 3rem 1.5rem;
    /* width: 100%; */
  }

  .hero-left, .hero-right {
    /* Allow both sections to take full width and remove flex ratio */
    flex: 1 1 100%;
    align-items: center; /* Center content inside */
  }
  .hero-right img{
    width: 70%; 
  }
  .status {
      /* Center the status badge */
      margin-left: auto;
      margin-right: auto;
  }
}

/* For smaller mobile phones */
@media (max-width: 480px) {
  .hero-left h1 {
    font-size: 1.8rem; /* Slightly smaller font size for very small screens */
  }
  
  .hero {
      padding: 5rem 1rem 3rem 1rem;
      width: 100%;
  }
}
