/* --- Project Section Styles --- */
.projet-section {
  width: 100%;
  max-width: 1380px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem; 
  position: relative;
}

.projet-heading {
  display: flex;
  flex-direction: row; 
  align-items: baseline;
  justify-content: center;
  gap: 1.5rem; 
  width: 100%;
  margin-bottom: 40px;
}

.left-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.right-heading a {
  display: flex;
  align-items: center; 
  gap: 8px; 
  color: #fff; 
  text-decoration: none; 
  font-family: 'Fira Code', monospace; 
  transition: text-decoration 0.3s ease;
  padding: 5px;
}
.right-heading a:hover {
  text-decoration: underline; 
}
.left-heading .line {
  height: 1px;
  background-color: #C778DD;
  min-width: 200px;
}

.left-heading span {
  color: #C778DD;
}
.left-heading h3 {
  font-size: 24px; 
  font-family: 'Fira Code', monospace;
  white-space: nowrap
}
.dot-box{
  position: absolute;
  top: 250px;
  left: -310px;
  width: 50px;
}

/* --- Tablet & Desktop Styles --- */
@media (min-width: 768px) {
  .projet-section {
    padding: 2rem 1rem; /* Restore original padding */
  }

  .projet-heading {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  .left-heading h3 {
    font-size: 32px; 
  }
}
