.about-section-route {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem 2rem 1rem;
  font-family: "Fira Code", monospace;
  margin: auto;
  max-width: 1380px;
}
.about-route-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section-title-route {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.slash-route{
  color: #C778DD; 
}
.subtitle-route {
  color: #c9c9c9;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

