.skill-section {
    width: 100%;
    max-width: 1380px;
    padding: 4.5rem 1rem;
    margin: auto;
}

.skill-section .top-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.top-section span{
    color: #C778DD;
}
.top-section h3{
    font-size: 32px;
    font-family: 'Fira Code', monospace;
}
.top-section .line {
    width: 500px;
    height: 1px;
    background-color: #C778DD;
}
.middle-skill{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    padding: 25px;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    .middle-skill{
        justify-content: center;
    }
    .top-section .line {
        width: 200px;
    }
}