.skill-section {
    width: 100%;
    max-width: 1380px;
    padding: 2rem 1rem;
    margin: auto;
}
.top-section {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    /* margin-bottom: 30px; */
    display: flex;
    align-items: center;
    max-width: 550px;
}

.top-section .accent-text {
    color: #c778dd;
    margin-right: 8px;
}

.top-section::after {
    content: '';
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: #c778dd;
    margin-left: 16px;
    min-width: 200px;
}


.middle-skill {
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    width: 100%;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .middle-skill {
        justify-content: center;
    }
    .top-section::after{
        display: none;
    }

}