/* CONTAINER */
.suggestion-box {
  max-width: 380px;
  margin: 0 auto;
  border-radius: 14px;
}
/* TITLE */
.suggestion-box h2 {
  text-align: center;
  margin-bottom: 26px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 26px;
}
/* FORM */
.suggestion-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
/* INPUT + TEXTAREA */
.suggestion-form input,
.suggestion-form textarea {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #2f3540;
  font-size: 14px;
  background: #1f242b;
  height: 48px;
  color: #eaeaea;
  transition: all 0.25s ease;
}
/* PLACEHOLDER */
.suggestion-form input::placeholder,
.suggestion-form textarea::placeholder {
  color: #8b9099;
}
/* FOCUS */
.suggestion-form input:focus,
.suggestion-form textarea:focus {
  outline: none;
  border-color: #c778dd;
  background: #262b34;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.18);
}
/* TEXTAREA */
.suggestion-form textarea {
  min-height: 130px;
  resize: none;
}
/* BUTTON */
.suggestion-form button {
  margin-top: 8px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background-color: #1f242b;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6px;
  transition: all 0.25s ease;
  border: 1px solid #C778DD;
}
/* BUTTON HOVER */
.suggestion-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px #c778dd;
}
/* BUTTON ACTIVE */
.suggestion-form button:active {
  transform: translateY(0);
  box-shadow: 0 6px 18px rgba(108, 99, 255, 0.3);
}