#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
 width: 300px;
  height: 300px;
  border-radius: 22px;
  background-color: aqua;
  border: 1px solid red;
}

