.Button {
    padding: 0.625rem 1.5625rem;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.Button:hover {
    background-color: black;
    color: white;
    border-color: black;
    transform: translateY(-2px);
}
