.Button{
    padding:10px 25px;
    background-color:#ffffff;
    color:black;
    border: 1px solid black;
    border-radius:5px;
    font-size:16px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.Button:hover {
    background-color: black;
    color: white;
    border-color: black;
    transform: translateY(-2px);
}