.header {
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-Header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-Header img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
}


.header-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: black;
}

.header-title span {
    color: #666;
    font-weight: 400;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.header-nav li {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}
.nav-link.active{
    color: #0c9985;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

.header-nav ul li a:hover {
    color: #0c9985;
}
.add-btn {
    background-color: #0c9985;
    color: white;
    padding: 10px 18px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

/* ===== Mobile Toggle Button ===== */
.mobile-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}
/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {

    /* HEADER CONTAINER MATCH MOBILE WIDTH */
    .header-container {
        max-width: 100% !important;
        padding: 15px 15px;
        position: relative;
    }

    /* SHOW TOGGLE */
    .mobile-toggle {
        display: block;
        transition:all 0.25s ease-in-out;
    }

    /* MOBILE DROPDOWN MENU (MATCH CONTAINER WIDTH) */
    .header-nav {
        position: absolute;
        top: 100%;
        left: 50%;                /* center it */
        transform: translateX(-50%); /* perfect centering */
        width: 90%;
        /* max-width: 1380px;         */
        background: white;
        display: none;
        flex-direction: column;
        padding: 15px 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        z-index: 10;
    }

    /* SHOW NAV ON TOGGLE */
    .header-nav.show {
        display: flex;
    }

    /* MENU ITEMS (VERTICAL) */
    .header-nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
        padding-left: 0;
    }

    /* FULL WIDTH BUTTON */
    .add-btn {
        width: 100%;
        margin-top: 10px;
    }
}
