.hero {
    width: 100%;
    color: white;
    padding-bottom: 60px;
    background: linear-gradient(135deg, #0a3865 0%, #06344d 100%);
}

.hero-container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hero-left h1 {
    font-size: 48px;
    margin: 0;
}
.hero-left p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}
.hero-right img {
    border-radius: 10px;
    filter: drop-shadow(10px 5px 10px black);
}