.features {
  max-width: 1380px;
  margin: auto;
  padding: 60px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: -30px;
}
.feature-card {
  background: white;
  color: #333;
  flex: 1;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: left;
}
.feature-icon {
  width: 38px;
  margin-bottom: 15px;
}
.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.feature-card p {
  font-size: 14px;
  color: #555;
}
.button-row {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 10px;
}
.btn {
  background-color: #0f254e;
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover {
  background-color: #0a1b38;
}
.image-section {
  max-width: 1380px;
  margin: 40px auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Each card */
.image-card {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
}

/* Image styling */
.image-card img {
  width: 100%;
  height: 240px; 
  object-fit: cover; 
  border-radius: 12px;
  display: block;
}

@media (max-width: 900px) {
  .image-section {
    flex-direction: column;
  }

  .image-card img {
    height: 220px;
  }
}
