.roomsence-section{
    width: 100%;
    padding: 40px 0;
    /* background-color: #f9f9f9; */
}
.roomsence-container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}
.roomsence-container h2{
    font-size: 32px;
    margin-bottom: 25px;
    color: black;
}
.roomsence-container .button-container{
    display: flex;
    gap: 15px;
}
.sence-feature{
    margin-top: 26px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.sence-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 28px;
  padding: 26px 0;
}

.sence-image-card {
  border-radius: 14px;
  overflow: hidden;
  padding-bottom: 10px;
}

.sence-image-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 14px;
}

.sence-image-card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin: 10px 0 4px 4px;
}

.sence-image-card p {
  font-size: 13px;
  color: #777;
  margin-left: 4px;
}
