.roomsence-section{
    width: 100%;
    padding: 40px 0;
    background-color: #f9f9f9;
}
.roomsence-container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}
.roomsence-container h2{
    font-size: 32px;
    margin-bottom: 25px;
    color: black;
}
.roomsence-container .button-container{
    display: flex;
    gap: 15px;
}