.vision-section{
    width: 100%;
    background: linear-gradient(135deg, #0a3865 0%, #06344d 100%);
}
.vision-container{
    width: 1380px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 30px;
}
.vision-footer-box{
    width: 1380px;
    margin: auto;
}

.vision-header-section {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #0e2d4f, #1b436b, #2d537d);
  color: white;
}

/* Left Heading */
.vision-left h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Room Cards */
.room-card-container {
  display: flex;
  gap: 18px;
}

.room-card {
  width: 150px;
  padding: 18px 12px;
  background: white;
  border-radius: 14px;
  color: #0e3a62;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

.room-icon {
  font-size: 38px;
  opacity: 0.9;
}

.room-card span {
  margin-top: 8px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.room-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.2);
}

.vision-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision-preview-box {
  width: 360px;
  height: 230px;
  border-radius: 20px;
  overflow: hidden;
}
.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
