/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEIGHT FIX */
html, body, #root {
  height: 100%;
}

/* GLOBAL BODY */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */
:root {
  --container-width: 1200px;

  /* --primary-Browsecategory-section-bg: #FAFAFA; */
  --primary-viewall-color:#555;
  --primary-cardtitle-color:#fff;
  /* --primary-arrow-numbering-bg-color:#BCBCBC; */
  --primary-arrow-numbering-border-color:#CACACA;
}

/* GLOBAL CONTAINER */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
  /* background-color: rebeccapurple; */
}