*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}

:root {
 font-family: "Fira Code", monospace;
   font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
  line-height: 1.5;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
