.custom-btn {
    display: flex;
    padding: 10px 18px;
    border-radius: 22px;
    border: 1px solid #C778DD;
    outline: none;
    cursor: pointer;
    margin: 10px auto 0;
    background: #282C33;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08),
                0 3px 8px rgba(0, 0, 0, 0.05);
}

.custom-btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: "fira code", monospace;
}