.media-container{
    display: flex;
    flex-direction: column;
}
.media-item{
    display: flex;
    gap: 8px;
}
.media-container h2{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
}