/* --- Global Styles for your entire application --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282C33;
  color: #fff;
  font-family: "Fira Code", monospace;
  overflow-x: hidden;
}

#root {
  width: 100%;
  padding: 1rem 2rem;
  overflow-x: hidden;
  font-family: "Fira Code", monospace;
}
